/* healthandcare & skin reset */
.sc_services .sc_services_item .sc_services_item_title .sc_icon {
	left: 1.615rem;
}

.sc_services .sc_services_item .sc_services_item_title .sc_icon, .sc_services_item .sc_icon::before {
    font-size: 4rem !important;
    margin-top: -7rem;
}

.footer_banner {
    background: url( "images/Background_banner.png" ) no-repeat 0 0;
}

.top_panel_top {
    color: #a4a6b9;
    background-color: #424459;
	padding: 15px 0;
}

.menu_user_logout a::before, .menu_user_login a::before {
	top: 0;
}

.colored_line {
    overflow: hidden;
}

.colored_line div {
    float: left;
    height: 5pt;
    width: 25%;
}

.scheme_original .color1 {
    background-color: #ffcd5f;
}

.scheme_original .color2 {
    background-color: #ff5b4f;
}

.scheme_original .color3 {
    background-color: #595d8f;
}

.scheme_original .color4 {
    background-color: #8fcec5;
}

.sc_services_item_1 {
    background-color: #ffcd5f;
}

.sc_services_item_2 {
    background-color: #ff5b4f;
}

.sc_services_item_3 {
    background-color: #8fcec5;
}

.sc_services_item_4 {
    background-color: #ffcd5f;
}

/* flexslider reset */

.flex-control-nav {
	position: relative !important;
	bottom: 30px !important;
}

.flex-direction-nav a:before {
	line-height: 42px;
}

/* all */

.header {
	background-color: #fff;
}

.logo {
	font-size: 1.8em;
	line-height: 1em !important;
	margin: 1em 0 !important;
	color: #474761;
}

/* Меню */

.menu_main {
	list-style: none;
	margin-top: 1em;
	font-size: 1.2em;
}

.menu_main li {
	display: inline;
	margin: 0 1em;
	float: left;
    position: relative;
    z-index: 20;
}

.menu_main a {
	color: #a4a6b9;
}

.sub-menu {
	top: 4.5em !important;
    border-color: #8e91af;
    background-color: #ff5b4f;
    left: 0.6em;
    width: 269px;
    display: none;
    position: absolute;
    z-index: 10000;
	padding: 0;
}

.sub-menu li {
	margin: 0;
}

.menu_user_nav li:last-child{
    padding: 0;
	margin: 0;
}

.sub-menu li a {
	color: #fff;
	display: block;
	font-size: 0.9em;
	padding: 1em 3em 1em;
}

.sub-menu li a:hover {
	color: #fff;
}

.sub-menu li.current-menu-item a::after {
    border-color: rgba(255, 255, 255, 0.3);
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid solid solid none;
    border-width: 2px 2px 2px 0;
    content: "";
    font-family: "fontello";
    font-weight: 100;
    height: 1.3em;
    line-height: 1em;
    position: absolute;
    right: 0.8em;
    top: 1.1em;
	padding: 0.3em 0.3em 0.1em 0;
}

.scheme_original .sub-menu li a:hover,
.scheme_original .sub-menu li.current-menu-item a,
.scheme_original .sub-menu li.current-menu-ancestor a {
	background-color: rgba(255, 255, 255, 0.1) !important;
}

.menu_main_responsive {
	padding: 0 !important;
}

/* Приветствие */

.greeting_title {
	padding-left: 1.5em;
	font-size: 3em;
}

.greeting_title span {
	margin-left: -1.5em;
}

/* artempol */

.left {
	float: left;
}

.right {
	float: right;
}

.red {
	color: #ff5b4f;
}

.columns {
	display: inline-block;
	vertical-align: top;
}

.logo span {
	float: left;
	font-size: 2em;
	margin-right: 10pt;
	color: #ffcd5f;
}

.content {
	margin-top: 80px;
	margin-bottom: 80px;
}

.content th {
	text-transform: uppercase;
}

.sc_list_icon:before {
	margin-right: 0.5em !important;
}

.sc_list_icon {
    list-style: none outside none;
}

.gallery .gallery-item {
	width: auto !important;
}

.top_panel_title.title_present.breadcrumbs_present .page_title {
	max-width: 50%;
}

.file:before, .iconed:before {
	font-size: 3em;
}

.icon-file-excel:before {
	color: #8fcec5;
}

.icon-file-word:before {
	color: #595d8f;
}

.icon-file-pdf:before {
	color: #ff5b4f;
}

.icon-file-archive:before {
	color: #ffcd5f;
}

.parent-page {
	list-style: none;
	text-transform: uppercase;
}

/* artempol главная страница */

.services, .greeting {
	margin: 80px 0;
}

.services, .greeting {
	font-size: 1.1rem;
}

.greeting ul {
	list-style-type: none;
	padding-left: 0 !important;
}

.list-icon ul {
	list-style: none;
	padding: 0;
}

.icon-checkbox:before {
	color: #ff5b4f;
}

.greeting .sc_title {
	padding-left: 5rem;
}


.sc_services_item .sc_icon:before {
    font-size: 2.2857em;
}

.services h1 {
	text-align: center;
}

.achievements .swiper-slide {
	margin-top: 5px;
}

.swiper-pagination {
	margin-top: -50px;
}

.swiper-pagination-bullet {
	background: #fff !important;
}

/* artempol награды на главной */

.slider-achieve.flexslider {
	background: url( '/wp-content/uploads/2016/01/img_parallax1.jpg' ) no-repeat scroll 50% 0;
	height: 312px;
	border: none;
}

.slider-achieve .slides {
	margin-top: 5px;
}

.slider-achieve li {
	margin-left: 50%;
}

.slider-achieve .slides a {
    display: block;
    margin-left: 50%;
    width: 100%;
}

.slider-achieve .slides img, 
.slider-team .slides img {
	width: auto !important;
}

.slider-team.flexslider {
	background: none;	
	border: none;
}

.slider-team .slides li {
#	width: 290px !important;
	padding: 0 15px !important;
}

.team {
	background: url( '/wp-content/uploads/2016/01/img_parallax1_team.jpg' ) no-repeat scroll;
	text-align: center;
}

.team h2 {
	margin-top: 0;
	padding-top: 4rem;
	color: white !important;
}

.team h6 {
    color: #7c7d8d !important;
    margin-bottom: 4rem;
}

.sc_team_item_info {
    background-color: rgba(255, 255, 255, 0.1);
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    text-align: center;
}

.sc_team_item_title {
    color: #ffffff !important;
}

.sc_team_item_title:hover {
    color: #ff5b4f !important;
}

.sc_team_item_position {
	color: #9b9cab !important;
}


/* artempol слайдер на главной */

.tparrows {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
    display: block;
    height: 60px;
    position: absolute;
    width: 60px;
    z-index: 100;
    top: 50%;
    line-height: 1rem;
	display: none;
}

.tp-leftarrow {
	left: 3%;
}

.tp-rightarrow {
	right: 3%;
}

.slider-main {
	font-size: 16px;
}

.slider-main .slides li {
	background-position: center; 
	background-size: auto 100%; 
	width: 100%;
	height: 570px;
}

.slider_title {
	color: rgba(255, 255, 255, 1);
	font-size: 4.4em;
	line-height: 1em;
	font-weight: 700;
	margin-top: 4%;
	opacity: 1;
	transform: translate3d(0px, 0px, 0px);
	transform-origin: 50% 50% 0;
	transition: none 0s ease 0s;
	width: 70%;
	text-transform: uppercase;
}

.slider_description {
	border-color: rgba(0, 0, 0, 1);
	color: rgba(255, 255, 255, 1);
	font-size: 2em;
	line-height: 2em;
	font-weight: 700;
	opacity: 1;
	transform: translate3d(0px, 0px, 0px);
	transform-origin: 50% 50% 0;
	transition: none 0s ease 0s;
	text-transform: uppercase;
}

.slider_description, .slider-main .sc_button {
    margin-top: 1em;
}

/* artempol форма обратной связи */

.sc_contact_form input[type="text"], 
.sc_contact_form input[type="email"],
.sc_contact_form textarea {
	width: 100% !important;
}

.sc_contact_form input[type="submit"] {
	display: none;
}

.sc_contact_form .wpcf7-not-valid-tip,
.sc_contact_form .wpcf7-validation-errors,
.wpcf7-mail-sent-ok {
	color: white !important;
}

/* artempol страница отделений */

.content_wrap.branches .attachment-thumb {
	float: left;
	margin-right: 30px;
}

.doctor_info {
	margin-top: 10px;
}

.doctor_info .post_title {
	margin-top: 0;
}

.question-answer {
	border: 1px solid #474761;
	padding: 10px 10px 0;
	color: #474761;
}

.question-answer .question {
	color: white;
	background-color: #474761;
	margin: -10px -10px 10px;
	padding: 20px 10px;
}

/* лицензии */

.lic_images {
	margin: 20px 0;
}

.lic_gallery {
	margin-right: 10px;
}

#colorbox {
	z-index: 100000;
}

#colorbox button {
	font-size: 2em;
	padding: 0.1em !important;
}

/* новости */

.post_featured {
	float: left;
	width: auto !important;
	margin: 10px 10px 0 0;
}

.post_info {
	color: #ff5b4f;
}

/* цветные блоки */

.sc_services_item_title {
	color: #fff !important;
}

/* footer */

.email_contact_info a {
	color: #fff !important;
}
